
# Custom #########################
#
#*.so
#*.a
#*.lib

# MAC ############################
#
.DS_Store
*~

# Cocos quick lua #################
#
build/build/*
proj.ios_mac/build/*

.idea
JMGameBase/frameworks/runtime-src/proj.android/ant.properties
JMGameBase/frameworks/runtime-src/proj.android/assets
JMGameBase/frameworks/runtime-src/proj.android/bin
JMGameBase/frameworks/runtime-src/proj.android/gen
JMGameBase/frameworks/runtime-src/proj.android/libs/armeabi/
JMGameBase/frameworks/runtime-src/proj.android/local.properties
JMGameBase/frameworks/runtime-src/proj.android/obj
JMGameBase/frameworks/runtime-src/proj.android/out
JMGameBase/frameworks/runtime-src/proj.android/JMGameBase.*
JMGameBase/frameworks/runtime-src/proj.android/project.properties
JMGameBase/frameworks/runtime-src/proj.android/*.iml
JMGameBase/frameworks/runtime-src/proj.android/*.eml
JMGameBase/frameworks/runtime-src/proj.android/.classpath
JMGameBase/frameworks/runtime-src/proj.android/proguard_logs/

#JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/assets
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/bin
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/gen
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/libs/armeabi/
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/local.properties
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/obj
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/out
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/*.iml
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/*.eml
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/.classpath
JMGameBase/frameworks/cocos2d-x/cocos/platform/android/java/proguard_logs/

JMGameBase/publish
JMGameBase/runtime/
alipay_lib_assets
alipay_lib/bin
alipay_lib/gen
alipay_lib/local.properties
alipay_lib/alipay_lib.iml
BitmapFilter/bin
BitmapFilter/gen
BitmapFilter/local.properties
BitmapFilter/BitmapFilter.iml
Jiami_Landlords

# Xcode ###########################
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace

# Java ############################
#
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# C++ #############################
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.out

# Python ############################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
*.pyc
*.pyo

.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot


